* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #ff6978;
  overflow-x: hidden;
  font-family: 'Helvetica Neue', sans-serif;
}

header {
  text-align: center;
}

header p {
  margin: .5em 0 .5em 0;
}

h1, h2, th, a, p, td {
  font-weight: 300;
}

a {
  text-decoration: none;
  color: black;
}

header h1 {
  background:black;
  color: white;
  margin-bottom: .7em;
  font-size: 1.5em;
  padding: .7em 0 .7em 0;
}

header p {
  font-size: .6em;
}

header img {
  margin-top: .5em;
}

main {
  margin: 0 1em 0 1em;
  display: flex;
  justify-content: space-around;
}

.score-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1em;
  text-shadow: 2px 2px black;
}

.score-div h1 {
  font-size: 5em;
  font-weight: 400;
}

.redHeading {
  color: rgb(244,13,44);
}

.blueHeading {
  color: rgb(86,75,251);
}

.nests-out-there {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.nests-out-there h2 {
  font-weight: 400;
}

.nestr-table {
  text-align: left;
  margin: 2em 0 0 0;
}

.nestr-table h2 {
  margin-bottom: .5em;
  font-size: 2em;
  font-weight: 400;
}

.nestr-table th {
  background: black;
  color: white;
  padding: .2em;
}

.nestr-table td {
  border-top: 1px solid black;
  padding-right: 3em;
  padding-top: .5em;
}

@media (max-width: 1200px) {
  main {
      flex-direction: column;
      justify-content: center;
  }

  .nestr-table {
    text-align: center;
  }

  .nestr-table table {
    width: 100%;
  }

  .nestr-table td {
    padding-right: 0;
  }

  main {
    margin: 0;
  }

}
