* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #ff6978;
  overflow-x: hidden;
  font-family: 'Open Sans';
}

th, td{
  padding-bottom: 1em;
  text-align: left;
}

header {
  text-align: center;
}

header p {
  margin: .5em 0 .5em 0;
}

header h1 {
  font-family: 'Cabin';
  background: black;
  color: white;
  margin: 0;
}

header p {
  font-size: .6em;
}

header img {
  margin-top: .5em;
}

main {
  margin: 0 1em 0 1em;
  display: flex;
  justify-content: space-around;
}

h1 {
  font-size: 2em;
}

.nestr-table-left {
  margin: 2em 5em 0 0;
  width: 100%;
}

.nestr-table-right {
  margin: 2em 0 0 0;
  width: 100%;
}

table {
  width: 100%;
}

.nestr-table-right td:last-child {
  padding-right: 0;
}


.nestr-table td {
  padding-right: 1em;;
  font-size: .8rem;
}

.nestr-table h2 {
  margin-bottom: 1em;
}

.score-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1em;
}

.score-div h1 {
  font-size: 5em;
}

.redHeading {
  color: rgb(244,13,44);
}

.blueHeading {
  color: rgb(86,75,251);
}

.nests-out-there {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.nests-out-there p {
  font-size: .9em;
}

@media (max-width: 1200px) {
  main {
      flex-direction: column;
  }

  .nestr-table-left {
    width: 100%;
  }

}
